<%- include("includes/head") %>
<link rel="stylesheet" href="/styles/signup.css">
  <body>
    <%- include("includes/header") %>
    <section id="form">
      <form action="/login" method="POST">
        <h2>Login</h2>
        <% if (inputData.hasError) { %>
          <p id="input-error"><%= inputData.message %></p>
          <% } %>
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= inputData.email %>" required/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="<%= inputData.password %>" required/>
        <button>Login</button>
        <a href="/signup">SignUp instead</a>
      </form>
    </section>
  </body>
</html>
