<%- include("includes/head") %>
  <link rel="stylesheet" href="/styles/signup.css">
  <body>
    <%- include("includes/header") %>
    <section id="form">
      <form action="/signup" method="POST">
        <h2>SignUp</h2>
        <% if (inputData.hasError) { %>
        <p id="input-error"><%= inputData.message %></p>
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= inputData.name %>" required/>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= inputData.email %>" required/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="<%= inputData.password %>" required/>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" value="<%= inputData.confirmPassword %>" required/>
        <button>SignUp</button>
        <a href="/login">Login instead</a>
      </form>
    </section>
  </body>
</html>
